input[type=radio] {display:none}

.cadre-ex{
      
    max-width: 300px;
    margin: 2rem auto
}

.accordeon{
        
    display: grid; 
    transition:grid-template-rows .4s ease-in-out;
    grid-template-rows: 1fr 0;
    overflow: hidden;
      
    }