.footer {
    margin-left: 22px;
    margin-right: 22px;
}

footer {
    background-color: black;
    width: 100%;
    height: 355px;
    padding-top: 43px;
    margin-top: 10px;
}

.logo-with-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
}

.mailto a {
    text-decoration: underline;
    color: white
  
}

.container-logo-with-info {
    font-size: 25px;
    list-style-type: none;
}

.container-logo-with-info ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .list-mail-with-contact {
    margin-top: 0;
  }
  
  .container-logo-with-info ul li {
    margin-top: 10px;
  }

  .logo-contact {
    margin-top: 20px;
    display: flex;
    justify-content: start;
  }
  
  .logo-contact a {
    margin-left: 22px;
  }
  
  .logo-contact a:first-child {
  margin-left: 0;
  }
  
  .bas-de-footer p {
    margin-bottom: 20px;
    }
    
    .bas-de-footer p span {
      margin-bottom: 0px;
    }
    
    .bas-de-footer p span a {
      color: white;
      text-decoration: underline;
    }