h1 {
    padding-top: 40px;
    font-family: inter;
    padding-left: 10px;
}

.alignement_index {
    display: flex;
    align-items: center;
}

p {
    font-family: inter;
    color :#592C88;
    font-size: 18px;
    font-weight: bold;
}

h2 {
    font-family: inter;
    text-align: center;
    margin-top: auto;
}

.imgcarrousel {
  width: 30%;
  display: block;
  margin: auto;
  margin-top: auto;
  margin-top: 10px;
}

li {
    font-family: inter;
    color :#592C88;
}

