h1 {
    padding-top: 40px;
    font-family: inter;
    padding-left: 10px;
}

.alignement_index {
    display: flex;
    align-items: center;
}

p {
    font-family: inter;
    color :#592C88;
    font-size: 18px;
    font-weight: bold;
}

h2 {
    font-family: inter;
    text-align: center;
    margin-top: 80px;
}

.imgcarrousel {
  width: 30%;
  display: block;
  margin: auto;
  margin-top: auto;
  margin-top: 10px;
}

li {
    font-family: inter;
    color :#592C88;
}

.abilletterie {
    display: block;
    text-align: center;
    color: #592C88;
    font-family: 'Inter', sans-serif;
}

.h2_main {
    font-family: inter;
    text-align: center;
    margin-top: 10px;
}

.imagemain {
    display: block;
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: auto;
}

h3 {
    font-family: inter;
    font-size: 24px;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}