.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    display: grid;
    place-content: center;
}

button {
    position: relative;
    appearance: none;
    border: none;
    background: none;
    padding: none;
    cursor: pointer;
    margin-top: 10px;
  }

.menuitem {
    list-style-type: none;
    margin-bottom: 20px;
    margin-right: 39px;
    margin-left: 39px;
    font-size: 32px;
    text-align: center;
    color: #fff;
  }